<div class="category-separation">
  <br /><br />
  <div class="category-container">
    <p class="title" id="contact">CONTACT</p>
  </div>
  <hr />
  <section class="contact-section">
    <div>
      <a href="https://uy.linkedin.com/in/joaquinsegovia">
        <img src="src/assets/LinkedinIcon.png" class="img-contacto" alt="linkedin" />
      </a>
      <span class="btn-space"></span>
      <a href="https://github.com/joasegovia9427">
        <img src="src/assets/GitHubIcon.png" class="img-contacto" alt="github" />
      </a>
    </div>
  </section>
</div>
