<div class="category-separation" id="experience">
  <br /><br />
  <div class="category-container">
    <p class="title">EXPERIENCE</p>
  </div>
  <hr />
  <div class="card-experience">
    <div class="container">
      <h4 class="titulos-experience">
        <b
          >🗓️ 2022 : Now <br /><br />
          📍<a href="https://lightit.io" style="color: rgb(181, 134, 237)">Light-it ⚡️</a> -
          Full-Stack Software Developer</b
        >
      </h4>
      <hr />
      <ul class="ul-lista-with-dots">
        <li>Web Development with React, Angular and Tailwind</li>
        <li>Backend Development with PHP by using Laravel, also a Node.js.</li>
      </ul>
    </div>
  </div>
  <div class="card-experience">
    <div class="container">
      <h4 class="titulos-experience">
        <b
          >🗓️ 2018 : 2022 <br /><br />📍
          <a href="https://k2b.com/en/" style="color: rgb(245, 160, 12)">K2B ERP</a>
          - Technical Lead Developer. GeneXus Sr. Analyst</b
        >
      </h4>
      <hr />
      <ul class="ul-lista-with-dots">
        <li>Development and implementations of ERP, GeneXus Native. R+D</li>
        <li>Professional Services, adapting product to costumer's big ecosystems</li>
        <li>Instructor of tech & methodologies, in house and costumer's team</li>
        <li>Multi apps security integration</li>
        <li>Going into production around big size and critical mission projects deploys</li>
      </ul>
    </div>
  </div>
  <div class="card-experience">
    <div class="container">
      <h4 class="titulos-experience">
        <b
          >🗓️ 2016 : 2018 <br /><br />
          📍<a href="https://www.genexusconsulting.com/es/" style="color: rgb(54, 130, 198)"
            >GeneXus Consulting</a
          >
          - GeneXus Analyst</b
        >
      </h4>
      <hr />
      <ul class="ul-lista-with-dots">
        <li>Mobile Apps Development (Android - iOS)</li>
        <li>Enterprise profile web apps</li>
      </ul>
    </div>
  </div>
  <div class="card-experience">
    <div class="container">
      <h4 class="titulos-experience">
        <b>🗓️ 2013 : 2018 <br /><br />📍 Teacher - Computing alphabetization Program</b>
      </h4>
    </div>
  </div>
</div>
