<div class="wrapperCenter" id="upAll"></div>
<div id="top"></div>
<img class="mainHelloWorld" src="src/assets/helloWorldCR31000w.png" />
<br />
<img class="mainPhoto" src="src/assets/photos/Joaquin Segovia-color-deg crop.png" />
<br />
<div class="about">
  <div class="flex flex-row items-center justify-center">
    <img class="w-8 mr-2" src="src/assets/hand.gif" />
    <h1>Hello there!</h1>
  </div>
  <h3>My name is Joaquin Segovia</h3>
  <div class="mainDescription">
    <p>
      💻 I work as a full-stack software developer, currently at
      <a href="https://lightit.io" style="color: rgba(119, 61, 189)">Light-it esre ⚡️</a>, where I
      use web technologies to build amazing and outstanding products. <br /><br />🎯 I focus on
      building professional quality software, applying technical skills and Software Engineering's
      generals. Always with soft skills, too. <br /><br />
      I enjoy taking ownership about the projects I work on, not only writing code but also have an
      holistic and critical view of the product, final users, functionalities and the business.
      <br /><br />

      ⚙️ Experience in Software Engineering (Architecture, Design Pattern, Development Models,
      Versioning, Automation). <br />Knowledge in techs like JavaScript, TypeScripts, HTML, CSS,
      (React, Angular), PHP by using Laravel Framework, relational databases (SQL), design and
      prototyping (eg.: Figma), Agile Development, and all system development cycle.
      <br /><br />&#128205;I'm based on Montevideo, Uruguay <br /><br />&#127891;&#128218;Recently,
      I achieved my Software Engineer Bachelor's Degree, with my Thesis project https://jasform.com,
      at
      <a href="http://ude.edu.uy/fci-ude/licenciatura-en-informatica/" style="color: #007bb6"
        >"Universidad de la Empresa"</a
      >
      <br /><br />🔬 Also, I like topics and I'm an autodidact about: UI, UX, Multimedia, Graphics,
      Marketing, Designing, Product Building and Design Thinking. <br /><br />You can know more
      about me on:
    </p>
    <div class="about-icon-link-block">
      <a href="https://uy.linkedin.com/in/joaquinsegovia"
        ><img src="src/assets/LinkedinIcon.png" alt="Linkedin" class="about-icon-link"
      /></a>
      <span class="btn-space"></span>
      <a href="https://github.com/joasegovia9427"
        ><img src="src/assets/GitHubIcon.png" alt="GitGub" class="about-icon-link"
      /></a>
      <span class="btn-space"></span>
      <a href="https://www.youtube.com/playlist?list=PL2dq_pIVanOA9tDSCewx7Vaz9aholVPW-"
        ><img src="src/assets/YoutubeIcon.png" alt="YouTube" class="about-icon-link"
      /></a>
      <span class="btn-space"></span>
      <a href="https://www.figma.com/@joasegovia9427"
        ><img src="src/assets/FigmaIcon.png" alt="Figma" class="about-icon-link"
      /></a>
    </div>
    <br />
    <div class="center-github-snake">
      <a href="https://linktr.ee/joasegovia9427" style="color: #007bb6">LinkTree</a>
      <picture>
        <source
          media="(prefers-color-scheme: dark)"
          srcset="
            https://raw.githubusercontent.com/joasegovia9427/joasegovia9427/refs/heads/main/Images/github-snake-dark.svg
          "
        />
        <source
          media="(prefers-color-scheme: light)"
          srcset="
            https://raw.githubusercontent.com/joasegovia9427/joasegovia9427/refs/heads/main/Images/github-snake.svg
          "
        />
        <img
          alt="GitHub Snake Contribution Graph"
          src="https://raw.githubusercontent.com/joasegovia9427/joasegovia9427/refs/heads/main/Images/github-snake.svg"
        />
      </picture>
    </div>
    <br /><br /><br /><br />
  </div>
</div>
