<div class="category-separation" id="next-skills">
  <br /><br />
  <div class="category-container">
    <p class="title">Next to learn SKILLS</p>
  </div>
  <hr />
  <section class="skills-learning-container">
    <div class="skills-learning-icons-container">
      <div class="icon-container">
        <img src="src/assets/techs/04-futureTechs/aws.png" alt="aws" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">AWS</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/04-futureTechs/grafana.png" alt="grafana" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Grafana</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/04-futureTechs/sentry.png" alt="Sentry" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Sentry</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/04-futureTechs/firebase.png" alt="firebase" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Firebase</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/04-futureTechs/webpack.png" alt="webpack" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">WebPack</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/04-futureTechs/flutter.png" alt="flutter" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Flutter</div>
        </div>
      </div>
      <div class="icon-container">
        <img
          src="src/assets/techs/04-futureTechs/objectivec.png"
          alt="objectivec2"
          class="icon"
        />
        <div class="skill-overlay">
          <div class="skill-text">Objective-C</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/04-futureTechs/Kotlin.png" alt="Kotlin" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Kotlin</div>
        </div>
      </div>
      <div class="icon-container">
        <img
          src="src/assets/techs/04-futureTechs/androidstudio.png"
          alt="androidstudio"
          class="icon"
        />
        <div class="skill-overlay">
          <div class="skill-text">AndroidStudio</div>
        </div>
      </div>
    </div>
  </section>
</div>
