<div class="category-separation" id="other-skills">
  <br /><br />
  <div class="category-container">
    <p class="title">OTHER SKILLS</p>
  </div>
  <hr />
  <section class="skills-learning-container">
    <div class="skills-learning-icons-container">
      <div class="icon-container">
        <img src="src/assets/techs/02-others/Angular.png" alt="Angular" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Angular</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/02-others/reactnative.png" alt="reactnative" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">React Native</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/02-others/node-js.png" alt="node-js" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Node JS</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/genexus.png" alt="genexus" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">GeneXus</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/java.png" alt="Java" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Java</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/02-others/c++.png" alt="c++" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">C++</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/swift.png" alt="Swift" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Swift</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/swiftUI.png" alt="SwiftUI" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">SwiftUI</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/xcode.png" alt="XCODE" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Xcode</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/02-others/postgresql.png" alt="postgresql" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">PostgreSql</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/02-others/mariaDB.png" alt="mariaDB" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">MariaDB</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/02-others/mysql.png" alt="mysql" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">MySql</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/02-others/oracle.png" alt="oracle" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Oracle</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/02-others/sqlserver.png" alt="sqlserver" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">SqlServer</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/02-others/vim.png" alt="vim" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">VIM</div>
        </div>
      </div>
    </div>
  </section>
</div>
