<div class="category-separation" id="portfolio">
  <br /><br />
  <div class="category-container">
    <p class="title">PORTFOLIO</p>
  </div>
  <hr />
  <section class="portfolio-container">
    <div class="portfolio-images-container">
      <div class="project-card">
        <a
          href="https://github.com/joasegovia9427/oblig_csharp_2021_frontend_web"
          class="titulos-img-portfolio"
          >Music Management</a
        >
        <h4>
          A full stack app. Using Angular JS with TypeScript to build the frontEnd, hosting in
          Node. APIs to get data from backend in .Net. MySql as a BDMS. In this project
          Material Design for components was used. This app allows to achieve CRUD of mains
          entities like Bands, Songs, Albums and Singers. An user authentication management,
          too.
        </h4>
        <a href="https://github.com/joasegovia9427/oblig_csharp_2021_frontend_web">
          <img
            src="src/assets/projects/DemoAngular.gif"
            alt="Music Management"
            class="img-portfolio"
          />
        </a>
      </div>

      <div class="project-card">
        <a
          href="https://github.com/joasegovia9427/MeliProductos"
          class="titulos-img-portfolio"
          >Meli Products</a
        >
        <h4>
          A search-buy product app. Created using Swift, SwiftUI and Rest API. An App where
          you can find product and see its detail, in a huge catalog. The user can search and
          view the detail of a particular product. The technology used are SwiftUI as a visual
          framework and MV as an architecture pattern.
        </h4>
        <div class="for-vertical-gif">
          <a href="https://github.com/joasegovia9427/MeliProductos">
            <img
              src="src/assets/projects/DemoRotationKeepState.gif"
              alt="Meli Products"
              class="img-portfolio-vertical-gif"
            />
          </a>
        </div>
      </div>

      <div class="project-card">
        <a href="https://github.com/joasegovia9427/GameStream" class="titulos-img-portfolio"
          >GameStream</a
        >
        <h4>
          iOS app created following two of the Platzi's courses. Built using SwiftUI,
          UserDefaults, API REST, AVkit and third party libraries. With the goal of get it
          done in code with SwiftUI Apple's library. This is to practice both Platzi's online
          courses. In this app, you can find videos about videogame's digital content. Also,
          you can share your reviews and vote for your favourites videogames.
        </h4>
        <a href="https://github.com/joasegovia9427/GameStream">
          <img
            src="src/assets/projects/gameStream.png"
            alt="GameStream"
            class="img-portfolio"
          />
        </a>
      </div>

      <div class="project-card">
        <a
          href="https://github.com/joasegovia9427/languageClosureCalculatorApp"
          class="titulos-img-portfolio"
          >languageClosureCalculatorApp</a
        >
        <h4>
          You can add 4 chains, and toggle if you want a common "closure" or a positive
          "closure", about one "language". After that, you just tap over RUN button. It will
          be display the result below and a text field in case you want to select part of it.
          Also, you have got a COPY button, to save in device's clipboard all the result.
        </h4>
        <a href="https://github.com/joasegovia9427/languageClosureCalculatorApp">
          <img
            src="src/assets/projects/languageClosureCalculatorApp.png"
            alt="languageClosureCalculatorApp"
            class="img-portfolio"
          />
        </a>
      </div>

      <div class="project-card">
        <a
          href="https://github.com/joasegovia9427?tab=repositories"
          class="titulos-img-portfolio"
          >&#128640; others minors projects &#128640;</a
        >
        <h4>
          I'll probably upload more awesome project soon ;) Stay tuned to know them... For
          now, you can see others old projects that I was working in all my path.
        </h4>
        <a href="https://github.com/joasegovia9427?tab=repositories">
          <img src="src/assets/projects/matrix.gif" alt="matrix" class="img-portfolio" />
        </a>
        <a
          href="https://meetings.genexus.com/2019/session/building-your-architecture-evolucionando-la-arquitectura-soa/ESP"
          class="link-as-p"
          >by the way... I love the 5 Matrix's films... yes, I count 'Animatrix' :P...</a
        >
      </div>
    </div>
  </section>
</div>

<div class="card">
  <div class="container">
    <h4 class="titulos-img-portfolio">
      <b
        >🧠💭🗯💡✍️ &nbsp&nbsp&nbsp Product Thinking / Designign &nbsp&nbsp&nbsp
        🖌🖋🔬🧪✒️✏️</b
      >
    </h4>
    <hr />
    <ul class="ul-lista">
      ⏩🌐&nbsp
      <a href="https://youtu.be/eGVu_bbWay0" style="color: rgb(154, 227, 146)"
        >"ContenedoresUY" (Youtube)</a
      >
      <li>
        🏆🥇First Place Award📱App "Prototype", idea and documentation for "DesafioAPI
        Montevido" ♻️ 2021 ✅
      </li>
      <li>
        🤝💪Team "Sigma" - Created with
        <a
          href="https://www.linkedin.com/in/sebastian-garciarena/"
          style="color: rgb(154, 227, 146)"
          >Sebastian Garciarena</a
        >
      </li>

      <li>
        ⏩🌐&nbsp
        <a href="https://youtu.be/C0CT7NgfHgc?t=27664" style="color: rgb(154, 227, 146)"
          >Awards Ceremony (IMM YouTube)</a
        >
      </li>
      <li>
        ⏩🌐&nbsp<a
          href="https://www.linkedin.com/feed/update/urn:li:activity:6845876462621364224/#"
          style="color: rgb(154, 227, 146)"
          >Certificate (Post)</a
        >
      </li>
      <li>
        ⏩🌐&nbsp<a
          href="https://www.figma.com/proto/yyTcKSoVgP9zQauFO8HW4g/ContenedoresUY-by-SIGMA?page-id=0%3A1&node-id=2%3A2&viewport=335%2C48%2C0.19&scaling=min-zoom&starting-point-node-id=2%3A2"
          style="color: rgb(154, 227, 146)"
          >Figma Prototype URL</a
        >
      </li>
    </ul>
    <hr />
  </div>
</div>
