<div class="category-separation" id="skills">
  <br /><br />
  <div class="category-container">
    <p class="title">SKILLS</p>
  </div>
  <hr />
  <section class="skills-learning-container">
    <div class="skills-learning-icons-container">
      <div class="icon-container">
        <img src="src/assets/techs/01-main/html.png" alt="html" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">HTML</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/css.png" alt="css" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">CSS</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/js.png" alt="js" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">JS</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/02-others/ts2.png" alt="ts" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">TS</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/reactjs.png" alt="reactjs" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">ReactJS</div>
        </div>
      </div>
      <div class="icon-container">
        <img
          src="src/assets/techs/04-futureTechs/tailwindcssW.png"
          alt="TailWindCSS"
          class="icon"
        />
        <div class="skill-overlay">
          <div class="skill-text">TailWindCSS</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/php.png" alt="php" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">PHP</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/laravel.png" alt="laravel" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Laravel</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/git.png" alt="Git" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Git</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/github.png" alt="Github" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Github</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/terminal.png" alt="Terminal" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Terminal</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/04-futureTechs/doker.png" alt="doker" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Doker</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/sql.png" alt="sql" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">SQL</div>
        </div>
      </div>
      <div class="icon-container">
        <img
          src="src/assets/techs/01-main/agile-icon.png"
          alt="agileDevelopment"
          class="icon"
        />
        <div class="skill-overlay">
          <div class="skill-text">Agile Dev.</div>
        </div>
      </div>
      <div class="icon-container">
        <img src="src/assets/techs/01-main/figma.png" alt="Figma" class="icon" />
        <div class="skill-overlay">
          <div class="skill-text">Figma</div>
        </div>
      </div>
    </div>
  </section>
</div>
