<div class="card">
  <div class="container">
    <h4 class="titulos-img-portfolio"><b>🫂 Soft Skills</b></h4>
    <hr />
    <ul class="ul-lista">
      <li>🚀 Startership</li>
      <li>🗺️ Leadership</li>
      <li>👂 Active listening</li>
      <li>🙌 Empathy</li>
      <li>🏢 Collective property and project management</li>
      <li>♻️ Passion for teaching</li>
      <li>🤓 Eager for new knowledge</li>
      <li>😌 Conflict appropriate management by CMI</li>
      <li>🖖 Initiatives to hangout and integrate with the team</li>
    </ul>
  </div>
</div>
